- name: add postgresql repository key
  become: true
  apt_key:
    url: 'https://www.postgresql.org/media/keys/ACCC4CF8.asc'

- name: add postgresql apt repository
  become: true
  apt_repository:
    repo: 'deb http://apt.postgresql.org/pub/repos/apt/ stretch-pgdg main'
    state: present
    filename: postgresql

- name: install postgresql server
  become: true
  package:
    name: "{{ item }}"
    state: present
  with_items:
    - postgresql
    - postgresql-contrib-9.6
